@charset "UTF-8";

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Top 버튼 클릭 시 부드러운 스크롤 */
    position: relative;
}

.top-btn {
    position: fixed; /* 화면에 고정 */
    bottom: 60px; /* 푸터 바로 위에 위치 */
    right: 20px; /* 오른쪽에 고정 */
    background-color: #555;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 다른 요소보다 위에 표시 */
}

.top-btn:hover {
    background-color: #333;
}

.footer {
    background-color: #f9f9f9;
    padding: 50px 158px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-links-left,
.footer-links-right {
    display: flex;
    gap: 15px;
}

.footer-top a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.footer-top a:hover {
    text-decoration: underline;
}

.footer-info p {
    margin: 5px 0;
}