<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_dos.adminMapper.AdminCouponMapper">
 	
 	<select id="selectCouponList" resultType="com.itwillbs.project_dos.vo.CouponVO">
 		SELECT *
 		FROM couponList
 		ORDER BY discount_rate DESC
 	
 	</select>
 	
 	<insert id="insertCoupon">
 		INSERT
 		INTO couponList
 		VALUES(
 			#{coupon_name},
 			NOW(),
 			#{discount_rate}
 		)
 	</insert>
 	<delete id="deleteCoupon">
 		DELETE 
 		FROM couponList
 		WHERE coupon_name = #{coupon_name}
 		
 	</delete>
 
 </mapper>