<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_dos.adminMapper.AdminMenuMapper">
 	<select id="selectMenuList" resultType="Menu">
 		SELECT *
 		FROM menu
 		WHERE menu_category = #{menu}
 	</select>
 	<insert id="insertMenu">
 		INSERT
 		INTO menu
 		VALUES (
 			#{menu_name},
 			#{menu_description},
 			#{menu_price},
 			NOW(),
 			#{new_menu},
 			#{populer_menu},
 			#{menu_category},
 			#{menu_img}
 		)
 	</insert>
 	
 	<select id="selectMenuDetail" resultType="Menu">
 		SELECT * 
 		FROM menu
 		WHERE menu_name = #{menu_name};
 	</select>
 	
 	<update id="deleteMenuFile">
 		UPDATE menu
 		SET menu_img = ''
 		WHERE menu_img = #{menu_img}
 	</update>
 	
 	<update id="updateMenu">
 		UPDATE menu
 		SET
 			menu_name = #{menu_name},
 			menu_description = #{menu_description},
 			menu_price = #{menu_price},
 			update_date = NOW(),
 			new_menu = #{new_menu},
 			populer_menu = #{populer_menu},
 			menu_category = #{menu_category}
 			<if test="!menu_img.equals('')">
 			,menu_img = #{menu_img}
 			</if>
 		WHERE menu_name = #{menu_name}
 	</update>
 	
 	<select id="selectMenuImg" resultType="String"> 
 		SELECT menu_img
 		FROM menu
 		WHERE menu_name = #{menu_name}
 	</select>
 	
 	<delete id="deleteMenu">
 		DELETE
 		FROM menu
 		WHERE menu_name = #{menu_name}
 	</delete>
 	
</mapper>