<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_dos.mapper.MemberMapper">
	
	<insert id="insertMember">
		INSERT
		INTO member
		VALUES(
			null
			, #{member_id}
			, #{member_passwd}
			, #{member_name}
			, #{member_phone}
			, #{member_email}
			, 'N'
			, #{member_birth}
			, NOW()
			, null
			, 1
			, null
			, #{member_address1}
			, #{member_address2}
			, #{member_post_code}
		)
	</insert>

	<select id="selectMember" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
	</select>

	<select id="findIdMember" resultType="member">
		SELECT member_id
		FROM member
		WHERE member_name = #{member_name} AND member_phone = #{member_phone}
	</select>

	<select id="findPasswdMember" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id} AND member_name = #{member_name} AND member_phone = #{member_phone}
	</select>

	<select id="selectMailAuthInfo" resultType="mailAuthInfo">
		SELECT *
		FROM mailAuthInfo
		WHERE email = #{email}
	</select>

	<!-- 신규 인증 정보(email, auth_code) 등록 - INSERT -->
	<insert id="insertMailAuthInfo">
		INSERT
		INTO mailAuthInfo
		VALUES (
			#{email}
			, #{auth_code}
		)
	</insert>

	<!-- 기존 인증 정보 수정 - UPDATE -->
	<!-- email 이 일치하는 레코드의 auth_code 컬럼값(인증코드) 변경 -->
	<update id="updateMailAuthInfo">
		UPDATE mailAuthInfo
		SET auth_code = #{auth_code}
		WHERE email = #{email}
	</update>
 
 	<select id="selectMemberEmail" resultType="member">
		SELECT member_email
		FROM member
		WHERE member_email = #{email}
	</select>
	
	<select id="selectAuthCode" resultType="string">
		SELECT auth_code
		FROM mailAuthInfo
		WHERE email = #{email}
	</select>
	
	<select id="getMailAuthInfo" resultType="string">
		SELECT auth_code
		FROM mailAuthInfo
		WHERE email = #{member_email}
	</select>

	<select id="selectMemberId" resultType="member" >
		SELECT member_id
		FROM member
		WHERE member_email = #{member_email}
	</select>

	<update id="modifyPasswd">
		UPDATE member
		SET member_passwd = #{newPasswd}
		WHERE member_email = #{member_email}
	</update>

	<select id="getIdCheck" resultType="string">
		SELECT member_id
		FROM member
		WHERE member_id = #{id}
	</select>

	<update id="updateMemberAuth">
		UPDATE member
		SET member_email_auth = 'Y'
		WHERE member_email = #{member_email}
	</update>

	<select id="selectPaymentMember" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{id}
	</select>
	
	<insert id="insertPaymentMember">
		INSERT
		INTO perchaseHistory
		VALUES(
			#{merchant_uid}
			, #{buyer_name}
			, #{buyer_tel}
			, #{name}
			, #{amount}
			, #{pay_method}
			, NOW()
		)
	</insert>
	
	<select id="selectMembership" resultType="string">
		SELECT product_name
		FROM perchaseHistory
		WHERE member_id = #{id}
	</select>









</mapper>
