<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_dos.mapper.MyPageMapper">
 	<select id="selectmtProfile" resultType="member">
 		SELECT *
 		FROM member
 		WHERE member_id = #{id}
 	</select>
 	<select id="selectMyReservationList"  resultType="reservation">
 		SELECT *
 		FROM reservation
 		WHERE member_id = #{id}
 		AND reservation_date >= CURDATE()
 	</select>
 	<select id="selectMyreservation" resultType="reservation">
 		SELECT *
 		FROM reservation
 		WHERE reservation_idx = #{reservation_idx}
 	</select>
 	<select id="selectMyNoticeListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM question_board
 		WHERE member_id = #{id}
 	</select>
 	<select id="selectQuestionList" resultType="question">
 		SELECT *
 		FROM question_board
 		WHERE member_id = #{id}
 		ORDER BY
 			qna_num DESC
 		LIMIT
 			#{startRow}
 			,#{listLimit}
 	</select>
 	<select id="selectMyQuestionDetail" resultType="question">
 		SELECT *
 		FROM question_board
 		WHERE qna_num = #{qna_num}
 	</select>
 		
 	<update id="updateMyQuestion">
 		UPDATE question_board
 		SET
 			qna_type = #{qna_type},
 			qna_title = #{qna_title},
 			qna_content = #{qna_content}
 		WHERE qna_num = #{qna_num}
 	</update>
 	
 	<select id="selectHistoryListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM purchase_history
 	</select>
 	
 	<select id="selectPurchaseList">
 		SELECT *
 		FROM purchase_history
 		WHERE member_id = #{id}
 		ORDER BY
			pay_date DESC
		LIMIT
			#{startRow}
			, #{listLimit}
 		
 	</select>
 	
 	<select id="selectMyReviewListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM review
 		WHERE member_id = #{id}
 	</select>
 	
 	<select id="selectMyReviewList" resultType="review">
 		SELECT *
 		FROM review
 		WHERE member_id = #{id}
 		ORDER BY review_idx DESC
 		LIMIT
			#{startRow}
			, #{listLimit}
 		
 	</select>
 	
 	<select id="selectIdxList" resultType="String">
 		SELECT review_idx
 		FROM review_like
 		WHERE member_id = #{id}
 	</select>
 	
 	
 	
 	
 	
 	
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 