<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_dos.QnaServiceMapper">
 	<insert id="insertQna">
 		<selectKey keyProperty="board_num" resultType="int" order="BEFORE">
 			SELECT IFNULL(MAX(board_num),0)
 			FROM qna_board;
 		</selectKey>
 		
 		INSERT
 		INTO qna_board
 		VALUES (
 		#{board_num} + 1,
 		#{board_title},
 		#{board_content},
 		#{board_readcount},
 		NOW(),
 		#{board_file}
 		)
 	</insert>
 	<select id="selectQnaListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM qna_board
 	</select>
 	
 	<select id="selectQnaList" resultType="qna">
 		SELECT *
 		FROM qna_board
 		ORDER BY
 			board_num DESC
 		LIMIT
 			#{startRow}
 			,#{listLimit}
 	</select>
 	<select id="selectAdminNotice" resultType="qna">
 		SELECT *
 		FROM notice_board
 		WHERE board_num = #{board_num}
 	</select>
 	<update id="updateAdminNotice">
 		UPDATE notice_board
 		SET board_title = #{board_title},
 			board_content = #{board_content},
 			board_file = #{board_file}
 		WHERE board_num = #{board_num}
 	</update>
 	<delete id="deleteAdminNotice">
 		DELETE
 		FROM notice_board
 		WHERE board_num = #{board_num}
 	</delete>
 	<select id="searchNoticeByTitle" resultType="notice">
 		SELECT *
 		FROM notice_board
 		WHERE board_title = #{searchQuery}
 	</select>
 	<select id="searchNoticeByDate" resultType="notice">
 		SELECT *
 		FROM notice_board
 		WHERE date(board_date) = #{searchQuery}
 	</select>
 	
 </mapper>
 
 
 
 
 